/* styles.css */

body {
    /* background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 100% 120%;
    /* animation: gradient 15s ease infinite; */
    background-image: url(./bankbgimg.jpg);

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 94%;
    align-self: center;
}

button {
    background-color: #333;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.notification {
    background-color: #e57373;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
h1{
    color: #fff;
}
.container,
.register-form,
.withdraw-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container {
    height: 450px;
}

.register-form {
    margin-top: 30px;
    height: 350px;
    align-self: center;
}

.login-form {
    
    height: 400px;
    align-self: center;
    max-width: 500px;
    margin: 70px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 70px;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a,
nav button {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-icon {
    margin-right: 6px;
}

.customer-data-container table {
    width: 100%;
    border-collapse: collapse;
}

.customer-data-container th,
.customer-data-container td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

.customer-data-container th {
    background-color: #f2f2f2;
}

.active-status {
    color: green;
}

.inactive-status {
    color: red;
}

.home {
    text-align: center;
    padding: 50px 0;
}

.home img {
    max-width: 100%;
    height: auto;
}

.customer-data-container {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#logout{
    max-width: 130px;
    margin-right: 20px;
}